<a href="https://colab.research.google.com/github/VenkataSanthoshiBommareddy/Projet-1/blob/main/Module_01-Introduction/Getting_Started_with_Colab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Getting Started with Colab

Venkata Santhoshi Bommareddy

## Getting Started

* Colab - get notebook from gitmystuff INFO5707 repository
* Save a Copy in Drive
* Remove Copy of
* Edit your name
* Clean up Colab Notebooks folder
* Submit shared link

In [ ]:
# # convert csv from pandas to sql
# import pandas as pd

# df = pd.read_csv('https://raw.githubusercontent.com/gitmystuff/Datasets/main/Auto.csv')
# print(df.shape)
# print(df.info())
# df.head()

In [ ]:
# # pandas groupby example
# df['origin'] = df['origin'].astype('object')
# df.groupby('origin')['mpg'].mean()

In [ ]:
# # pandas to sql
# from sqlalchemy import create_engine, text

# db = create_engine('sqlite:///automobiles.db', echo=True)
# data = df.to_sql(name='MPG', con=db)

In [ ]:
# # connect and query
# with db.connect() as conn:
#   results = conn.execute(text('SELECT * FROM MPG'))
#   # results = conn.execute(text('SELECT * FROM MPG LIMIT 5'))

# results.all()

In [ ]:
# # connect and query
# with db.connect() as conn:
#   results = conn.execute(text('SELECT AVG(mpg) FROM MPG GROUP BY origin'))

# results.all()

In [ ]:
# # query to dataframe
# import pandas as pd
# from sqlalchemy import create_engine, text

# sql_query = 'SELECT * FROM MPG WHERE horsepower > 150'
# new_df = pd.read_sql(sql_query, con=db)

# print("DataFrame created from SQL query:")
# new_df.head()

In [ ]:
# # Use pd.read_sql_table to get the entire 'MPG' table
# full_table_df = pd.read_sql_table('MPG', con=db)
# full_table_df.head()

In [ ]:
# # pandas to sql
# from sqlalchemy import create_engine, text

# db = create_engine('sqlite:///automobiles.db', echo=False) # or just remove echo=....
# data = df.to_sql(name='MPG', con=db, if_exists='replace') # since MPG already exists
# with db.connect() as conn:
#   results = conn.execute(text('SELECT * FROM MPG LIMIT 5'))

# results.all()

## Optional Reading

* https://www.kdnuggets.com/leveraging-pandas-and-sql-together-for-efficient-data-analysis